server:
  port: 8761

spring:
  profiles:
    active: dev
  application:
    name: bcpcs-eureka
  security:
    basic:
      enabled: true
    user:
      name: root
      password: root
  cloud:
    inetutils:
      ignoredInterfaces:
        - docker0
        - veth.*
        - VM.*
      preferredNetworks:
        - 192.168

eureka:
  server:
    enable-self-preservation: false
  instance:
    hostname: 192.168.110.212
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka